In [1]:
import pandas as pd
import targeter

(CVXPY) Aug 04 12:16:44 PM: Encountered unexpected exception importing solver GLOP:
RuntimeError('Unrecognized new version of ortools (9.6.2534). Expected < 9.5.0.Please open a feature request on cvxpy to enable support for this version.')
(CVXPY) Aug 04 12:16:44 PM: Encountered unexpected exception importing solver PDLP:
RuntimeError('Unrecognized new version of ortools (9.6.2534). Expected < 9.5.0.Please open a feature request on cvxpy to enable support for this version.')

In [2]:

data_url = "/hackdata/share/_tmp/adult.csv"
data_url = '/hackdata/share/data/tmp/insurance-inter.csv'
adult = pd.read_csv(data_url)
adult

,uwYear,gender,carType,carCat,job,age,group1,bm,nYears,carVal,...,bm_nYears,bm_carVal,bm_cover,bm_density,nYears_carVal,nYears_cover,nYears_density,carVal_cover,carVal_density,cover_density
0,2009,Male,C,Large,Employed,25,18,90,3,15080,...,270,1357200,0,6481.159469,45240,0,216.038649,0,1.085954e+06,0.000000
1,2009,Male,E,Large,Employed,20,11,30,2,22370,...,60,671100,30,1186.512318,44740,2,79.100821,22370,8.847427e+05,39.550411
2,2009,Female,E,Large,Unemployed,42,11,150,0,39650,...,0,5947500,0,25429.372260,0,0,0.000000,0,6.721831e+06,0.000000
3,2009,Female,C,Medium,Housewife,21,5,0,0,12600,...,0,0,0,0.000000,0,0,0.000000,12600,7.420731e+05,58.894688
4,2009,Female,D,Large,Employed,33,12,30,10,9065,...,300,271950,0,3288.956562,90650,0,1096.318854,0,9.938130e+05,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100016,2010,Male,F,Medium,Housewife,45,11,30,0,19700,...,0,591000,0,2281.581780,0,0,0.000000,0,1.498239e+06,0.000000
100017,2010,Male,E,Large,Retired,53,8,-30,6,10980,...,-180,-329400,-30,-1853.842760,65880,6,370.768552,10980,6.785064e+05,61.794759
100018,2010,Male,C,Small,Employed,47,10,-10,9,21980,...,-90,-219800,0,-456.698229,197820,0,411.028406,0,1.003823e+06,0.000000
100019,2010,Female,D,Large,Retired,46,7,-50,1,28925,...,-50,-1446250,-50,-2746.590610,28925,1,54.931812,28925,1.588903e+06,54.931812
100020,2010,Female,C,Large,Retired,67,17,-50,9,14525,...,-450,-726250,-50,-3662.624952,130725,9,659.272491,14525,1.063993e+06,73.252499

In [3]:
from targeter import Targeter
# tar = Targeter(data=adult, target='tmp', exclude_vars=['EDUCATION'])
tar = Targeter(data=adult, target='claimSizeBI')

/hackdata/share/code/python/py-targeter/.venv/lib/python3.9/site-packages/optbinning/binning/continuous_binning.py:912: RuntimeWarning: invalid value encountered in cast
  n_zeros = np.empty(n_bins).astype(np.int64)
/hackdata/share/code/python/py-targeter/.venv/lib/python3.9/site-packages/optbinning/binning/continuous_binning.py:912: RuntimeWarning: invalid value encountered in cast
  n_zeros = np.empty(n_bins).astype(np.int64)
/hackdata/share/code/python/py-targeter/.venv/lib/python3.9/site-packages/optbinning/binning/continuous_binning.py:912: RuntimeWarning: invalid value encountered in cast
  n_zeros = np.empty(n_bins).astype(np.int64)
/hackdata/share/code/python/py-targeter/.venv/lib/python3.9/site-packages/optbinning/binning/continuous_binning.py:912: RuntimeWarning: invalid value encountered in cast
  n_zeros = np.empty(n_bins).astype(np.int64)
/hackdata/share/code/python/py-targeter/.venv/lib/python3.9/site-packages/optbinning/binning/continuous_binning.py:912: RuntimeWarning: invalid value encountered in cast
  n_zeros = np.empty(n_bins).astype(np.int64)
/hackdata/share/code/python/py-targeter/.venv/lib/python3.9/site-packages/optbinning/binning/continuous_binning.py:912: RuntimeWarning: invalid value encountered in cast
  n_zeros = np.empty(n_bins).astype(np.int64)
/hackdata/share/code/python/py-targeter/.venv/lib/python3.9/site-packages/optbinning/binning/continuous_binning.py:912: RuntimeWarning: invalid value encountered in cast
  n_zeros = np.empty(n_bins).astype(np.int64)
/hackdata/share/code/python/py-targeter/.venv/lib/python3.9/site-packages/optbinning/binning/continuous_binning.py:912: RuntimeWarning: invalid value encountered in cast
  n_zeros = np.empty(n_bins).astype(np.int64)
/hackdata/share/code/python/py-targeter/.venv/lib/python3.9/site-packages/optbinning/binning/continuous_binning.py:912: RuntimeWarning: invalid value encountered in cast
  n_zeros = np.empty(n_bins).astype(np.int64)
/hackdata/share/code/python/py-targeter/.venv/lib/python3.9/site-packages/optbinning/binning/continuous_binning.py:912: RuntimeWarning: invalid value encountered in cast
  n_zeros = np.empty(n_bins).astype(np.int64)
/hackdata/share/code/python/py-targeter/.venv/lib/python3.9/site-packages/optbinning/binning/continuous_binning.py:912: RuntimeWarning: invalid value encountered in cast
  n_zeros = np.empty(n_bins).astype(np.int64)

In [4]:
tar.target_reference_level
tar.target_stats

AttributeError: 'Targeter' object has no attribute 'target_reference_level'

In [5]:
tar.summary()

,name,dtype,status,selected,n_bins,woe,quality_score,Max ER - Bin,Max Mean,Max ER - Count,Selected
119,carCat,categorical,OPTIMAL,True,3,556.595095,0.491079,['Small'],284.521084,28247,x
137,uwYear_cover,numerical,OPTIMAL,True,3,558.217381,0.457674,"(-inf, 1004.50)",261.536104,48796,x
15,carCatSmall_age,numerical,OPTIMAL,True,5,986.987889,0.412376,"[9.00, 24.50)",566.738023,5976,x
156,cover,categorical,OPTIMAL,True,2,521.233648,0.381524,['0'],261.536104,48796,x
158,age_bm,numerical,OPTIMAL,True,7,1103.845423,0.359619,"[-205.00, inf)",336.830332,37071,x
...,...,...,...,...,...,...,...,...,...,...,...
9,carTypeF_jobRetired,categorical,OPTIMAL,True,1,445.525659,0.0,['1' '0'],222.762829,100021,x
139,carTypeF_carCatSmall,categorical,OPTIMAL,True,1,445.525659,0.0,['0' '1'],222.762829,100021,x
116,carCatSmall_jobRetired,categorical,OPTIMAL,True,1,445.525659,0.0,['1' '0'],222.762829,100021,x
165,carTypeD_jobUnemployed,categorical,OPTIMAL,True,1,445.525659,0.0,['0' '1'],222.762829,100021,x
0,carTypeE_density,numerical,OPTIMAL,True,1,445.525659,0.0,"(-inf, inf)",222.762829,100021,x

In [6]:
tar.report(template='./../template-targeter-report.qmd', source_code_dir='/hackdata/share/code/python/py-targeter',filter_n=30)

Starting python3 kernel...Done

Executing 'targeter-report.ipynb'
  Cell 1/8...Done
  Cell 2/8...Done
  Cell 3/8...Done
  Cell 4/8...Done
  Cell 5/8...Done
  Cell 6/8...Done
  Cell 7/8...Done
  Cell 8/8...Done

pandoc --output generated_report
  to: html
  standalone: true
  embed-resources: true
  section-divs: true
  html-math-method: mathjax
  wrap: none
  default-image-extension: png
  toc: true
  toc-depth: 2

metadata
  document-css: false
  link-citations: true
  date-format: long
  lang: en
  title: Targeter analysis
  toc-location: body
  toc-title: Contents
  theme:
    - cosmo
    - targeter.scss
  page-layout: full

[WARNING] Deprecated: --self-contained. use --embed-resources --standalone
Output created: generated_report

'./report.html'

In [8]:
print(tar._metadata)

None

In [6]:
import os
print(  os.environ['TARGETER_TMPDIR'] )

/tmp/targeter_93yifjx_

In [15]:
tar.profiles.set_params(selection_criteria = {"gini": {"min": 0.4}})
tar.profiles._support_selection_criteria()
tar.profiles.get_support(names=True)

array(['AGE', 'EDUCATIONNUM', 'MARITALSTATUS', 'OCCUPATION',
       'RELATIONSHIP'], dtype=object)

,name,dtype,status,selected,n_bins,iv,js,gini,quality_score,Max ER - Bin,Max Event Rate,Max ER - Count
0,AGE,numerical,OPTIMAL,True,14,1.207969,0.101723,0.425356,0.016125,"[49.50, 54.50)",0.413861,2554
1,WORKCLASS,categorical,OPTIMAL,True,5,0.152814,0.018384,0.165456,0.254219,[' Federal-gov' ' Self-emp-inc'],0.478324,2076
2,FNLWGT,numerical,OPTIMAL,True,6,0.007014,0.000875,0.036632,0.008464,"(-inf, 188102.00)",0.249722,17984
3,EDUCATIONNUM,numerical,OPTIMAL,True,7,0.722082,0.083426,0.432444,0.400851,"[13.50, inf)",0.622419,2712
4,MARITALSTATUS,categorical,OPTIMAL,True,3,1.334507,0.153198,0.537431,0.014769,[' Married-AF-spouse' ' Married-civ-spouse'],0.446830,14999
5,OCCUPATION,categorical,OPTIMAL,True,8,0.749516,0.087156,0.455559,0.32385,[' Exec-managerial'],0.484014,4066
6,RELATIONSHIP,categorical,OPTIMAL,True,4,1.510271,0.163376,0.555265,0.00355,[' Husband' ' Wife'],0.451392,14761
7,RACE,categorical,OPTIMAL,True,2,0.068563,0.008351,0.074661,0.075685,[' White' ' Asian-Pac-Islander'],0.256212,28855
8,SEX,categorical,OPTIMAL,True,2,0.303289,0.036858,0.237662,0.556085,[' Male'],0.305737,21790
9,CAPITALGAIN,numerical,OPTIMAL,True,2,0.668747,0.059895,0.188124,0.088124,"[4668.50, inf)",0.899941,1699
10,CAPITALLOSS,numerical,OPTIMAL,True,1,0.0,0.0,0,0.0,"(-inf, inf)",0.240810,32561
11,HOURSPERWEEK,numerical,OPTIMAL,True,7,0.468022,0.055382,0.349637,0.717161,"[49.50, 55.50)",0.447721,3730
12,NATIVECOUNTRY,categorical,OPTIMAL,True,3,0.061195,0.007233,0.058923,0.060269,[' ?' ' Cuba' ' China' ' Greece' ' Hong' ' Phi...,0.304997,1741
13,ABOVE50K,numerical,OPTIMAL,True,1,0.0,0.0,0,0.0,"(-inf, inf)",0.240810,32561